@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }

  /*================= start nav====================  */

  .list-icons {
    display: block;
  }
  .list-icons {
    color: inherit;
  }
  .nav-links {
    display: none;
  }

  .nav .nav-links {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    height: 100%;
    width: 350px;
    background-color: var(--color-light);
    transition: var(--animation-duration);
  }
  .nav .nav-links:target {
    transform: translateX(0);
  }

  body:has(.nav-links:target) .nav {
    height: 100vh;
    background-color: hsl(0, 0%, 100%, 0.7);
  }
.list-close-icon .close{
  display: block;
}
  .list-close-icon {
    display: flex;
    justify-content: flex-end;
  }

  .nav-links ul {
    flex-direction: column;
  }
  /*====================== end nav=========================  */
  /*====================== start footer=========================  */

  .items .about {
    width: calc(50% - 15px);
  }
  .items .subscribe {
    order: 1;
    margin-top: 30px;
  }
  .items .contact-details {
    width: calc(50% - 15px);
  }
  /*====================== end footer=========================  */
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }

  .inner-home {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .inner-home div {
    width: 100%;
  }

  .inner-home .home-content {
    text-align: center;
  }
  .inner-home .home-content .btns {
    justify-content: center;
  }

  /* end home */
  /* start chefs */

  .inner-chefs .card {
    width: calc(50% - 15px);
  }

  /* end chefs */

  /*====================== start gallery=========================  */
  .gallery-images {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    /* gap: 15px;  */
    grid-template-areas:
      "meal-1 meal-2 "
      "meal-1 meal-2 "
      "meal-1 meal-2 "
      "meal-3 meal-2 "
      "meal-3 meal-2 "
      "meal-3 meal-2 "
      "meal-4 meal-2 "
      "meal-4 meal-5 "
      "meal-4 meal-5 "
      "meal-4 meal-5 "
      "meal-4 meal-6 "
      "meal-4 meal-6 "
      "meal-7 meal-6 "
      "meal-7  ."
      "meal-7 .";
  }

  /*====================== end gallery=========================  */
  /*====================== start contact=========================  */
  .form-contact .groub-input {
    display: block;
  }
  /*====================== end contact=========================  */
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }

  /* start chefs */

  .inner-chefs .card {
    width: 100%;
  }

  /* end chefs */

  /*====================== start gallery=========================  */

  .gallery-images {
    /* display: grid; */
    grid-template-columns: 1fr;
    /* gap: 15px;  */
    grid-template-areas:
      "meal-1"
      "meal-1"
      "meal-1"
      "meal-3"
      "meal-3"
      "meal-3"
      "meal-4"
      "meal-4"
      "meal-4"
      "meal-4"
      "meal-4"
      "meal-4"
      "meal-7"
      "meal-7"
      "meal-7"
      "meal-2"
      "meal-2"
      "meal-2"
      "meal-2"
      "meal-2"
      "meal-2"
      "meal-2"
      "meal-5"
      "meal-5"
      "meal-5"
      "meal-5"
      "meal-6"
      "meal-6"
      "meal-6";
  }
  /*====================== end gallery=========================  */
  /*====================== start contact=========================  */
  .info-contact {
    gap: 20px;
  }
  .info-contact .caption {
    width: calc(100%);
  }
  /*====================== end contact=========================  */

  /*====================== start footer=========================  */

  .items .about {
    width: 100%;
  }
  .items .subscribe {
    order: 1;
    width: 100%;
  }
  .items .contact-details {
    width: 100%;
    margin-top: 30px;
    order: 2;
  }
  /*====================== end footer=========================  */
}

@media (max-width: 575.98px) {
  .container {
    width: 100%;
    padding: 0 30px;
  }
}
